<div class="scrollable-content">
    <div class="row">
        <div class="col-md-6 col-sm-3 col-xs-5">
            <div class="panel panel-default" ng-controller="AirtelMoneyMarketCtrl">
                <div class="panel-heading">Airtel Money Market</div>
                <div class="panel-body">{{result}}</div>
            </div>
        </div><!--end of Col-MD-4-->
        <div class="col-md-6 col-sm-3 col-xs-5">
            <div class="panel panel-default" ng-controller="ApiRancardMobilityCtrl">
                <div class="panel-heading">Api Rancard Mobility</div>
                <div class="panel-body">{{result}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-3 col-xs-5">
            <div class="panel panel-default" ng-controller="ShopWithRendezvousCtrl">
                <div class="panel-heading">Shop With Rendezvous</div>
                <div class="panel-body">{{result}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-3 col-xs-5">
            <div class="panel panel-default" ng-controller="MyRancardMobilityCtrl">
                <div class="panel-heading">My Rancard Mobility</div>
                <div class="panel-body">{{result}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-3 col-xs-5">
            <div class="panel panel-default" ng-controller="RendezvousCtrl">
                <div class="panel-heading">Rendezvous</div>
                <div class="panel-body">{{result}}</div>
            </div>
        </div><!--end of Col-MD-4-->
        <div class="col-md-6 col-sm-3 col-xs-5">
            <div class="panel panel-default" ng-controller="VodafoneLiveCtrl">
                <div class="panel-heading">Vodafone Live</div>
                <div class="panel-body">{{result}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-3 col-xs-5">
            <div class="panel panel-default" ng-controller="BooksNgAirtelLiveCtrl">
                <div class="panel-heading">Books Ng Airtel Live</div>
                <div class="panel-body">{{result}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-3 col-xs-5">
            <div class="panel panel-default" ng-controller="TicketsNgAirtelLiveCtrl">
                <div class="panel-heading">Tickets Ng Airtel Live</div>
                <div class="panel-body">{{result}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-3 col-xs-5">
            <div class="panel panel-default" ng-controller="MyRancardCtrl">
                <div class="panel-heading">My Rancard</div>
                <div class="panel-body">{{result}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-3 col-xs-5">
            <div class="panel panel-default" ng-controller="ContentClassificationBBCCtrl">
                <div class="panel-heading">Content Classification BBC</div>
                <div class="panel-body">{{result}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-3 col-xs-5">
            <div class="panel panel-default" ng-controller="MMarathonRancardMobilityCtrl">
                <div class="panel-heading">M Marathon Rancard Mobility</div>
                <div class="panel-body">{{result}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-3 col-xs-5">
            <div class="panel panel-default"ng-controller="MMarathonAdminCtrl">
                <div class="panel-heading">M Marathon Admin</div>
                <div class="panel-body">{{result}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-3 col-xs-5">
            <div class="panel panel-default" ng-controller="GraphDBCtrl">
                <div class="panel-heading">Graph DB</div>
                <div class="panel-body">{{result}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-3 col-xs-5">
            <div class="panel panel-default" ng-controller="MyJoyOnlineCtrl">
                <div class="panel-heading">My Joy Online</div>
                <div class="panel-body">{{result}}</div>
            </div>
        </div>
    </div>
</div>
